.foto{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    background: linear-gradient(120deg, rgb(155, 220, 255), rgb(255, 124, 216));
    border-style: inset;
}
.texto{
    position: relative;
    text-align: center;
    bottom: 100px;
    right: 50px;
    font-family:'Courier New', Courier, monospace;
}
.contenido{
    position: absolute;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    width: 55%;
    height: 50%;
    overflow: scroll;
    border: 1px solid black;
    font-family:'Courier New', Courier, monospace;
}
.bloquederecha{
    position: absolute;
    text-align: left;
    margin-left: 100px;
    left: 1103px;
    margin-right: 100px;
    width: 30%;
    height: 50%;
    overflow: scroll;
    border: 1px solid black;
    font-family:'Courier New', Courier, monospace;
}
h3{
    text-align: center;
    background: linear-gradient(120deg, rgb(155, 240, 255), rgb(255, 124, 216));
}
h2{
    text-align: center;
    background: linear-gradient(120deg, rgb(155, 240, 255), rgb(255, 124, 216));
}
.pie{
    display: block;
    text-align: center;
    background: linear-gradient(120deg, rgba(155, 240, 255, 0.5), rgb(255, 124, 216,0.5));
    font-family:'Courier New', Courier, monospace;
    margin-top: 600px;
}
p{
    font-size: large;
}